<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="io.wazo.callkeep">

    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT"/>
    <uses-permission android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30"/>
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.MANAGE_OWN_CALLS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"
        android:maxSdkVersion="29"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <application>
        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="true"
            android:stopWithTask="false"/>

        <activity
            android:name=".activity.IncomingCallActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:showOnLockScreen="true"
            android:launchMode="singleTask"
            android:exported="true"
            android:theme="@style/CallkitScreenTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.OutgoingCallActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:showOnLockScreen="true"
            android:launchMode="singleTask"
            android:exported="true"
            android:theme="@style/CallkitScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".IncomingNotificationReceiver"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="io.wazo.callkeep.action.ANSWER_CALL"/>
                <action android:name="io.wazo.callkeep.action.REJECT_CALL"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>